html, body {
    margin: 0;
    padding: 0;
    font-family: Poppins, serif;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    background: linear-gradient(bottom, #0250c5, #d43f8d);
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-form {
    width: 450px;
    min-height: 400px;
    height: 100%;
    padding: 20px 50px;
    background: #fff;
    border: solid 1px #d43f8d;
    border-radius: 5px;
    animation: login-form 200ms ease-out forwards;
    margin-top: 100px;
    margin-bottom: 100px;
}

@keyframes login-form {
    0% {
        opacity: 0;
        margin-top: 50px;
    }
    100% {
        opacity: 1;
        margin-top: 100px;
    }
}

.login-form .header {
    width: 100%;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

.form-check {
    margin: 5px 0px;
}

.btn-login {
    width: 100%;
    color: #fff;
    background: #d43f8d;
    transition: all 500ms ease-in-out;
    text-transform: uppercase;
    height: 50px;
    outline: none !important;
    border: none !important;
}

.btn-login:hover {
    background: #333333;
    color: #fff;
}

::-webkit-input-placeholder {
   font-size: 12px !important;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 12px !important;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-size: 12px !important;
}

.login-form .footer {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fl-left, .fl-right {
    font-size: 12px;
}

.dashboard {
    padding-top: 50px;
}

.dashboard .title {
    text-align: center;
}

label.is-invalid {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.custom-alert {
    font-size: 12px !important;
}

.close {
    outline: none !important;
    padding: 0.65rem 1.25rem !important;
}

.error-page {
    position: relative;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(bottom, #0250c5, #d43f8d);
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
}

.error-page .page-not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-not-found .error-code {
    font-size: 200px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    display: block;
}

.page-not-found .error-description {
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.btn-error-page {
    padding: .85rem .75rem !important;
}

nav {
    width: 100%;
    height: 60px;
    background: #d43f8d;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
}

nav .menu-left {
    height: 100%;
    float: left;
    display: flex;
}

.menu-left .logo {
    align-content: center;
    align-self: center;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    word-spacing: 1px;
}
.menu-items {
    padding: 0;
    margin: 0;
    align-self: center;
    justify-content: center;
}

.menu-items li:not(:first-child) {
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
}

.menu-items li:first-child {
    text-transform: uppercase;
    display: inline-block;
    padding-left: 50px;
    padding-right: 20px;
}

nav .menu-right {
    height: 100%;
    float: right;
    display: flex;
}

.menu-right * {
    align-self: center;
    justify-content: center;
    color: #fff;
}

.menu-right span {
    cursor: pointer;
    padding-right: 20px;
}

.btn-custom {
    color: #fff;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.login-link {
    border: solid 1px #fff;
}

.login-link:hover {
    border: solid 1px #333333;
}

.login-link:focus {
    outline: none;
}

.btn-custom:hover {
    color: #333333;
}

.menu-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.menu-link:hover {
    color: #333333;
    text-decoration: none;
}

@media screen and (min-width: 1400px) {
    .content {
        margin-top: 80px;
        padding: 0 200px;
    }
}

.landing-text {
    text-align: justify;
}

