extends layout

block content
    .error-page
        .page-not-found
            span.error-code 404
            p.error-description Page not found
            a(class="btn btn-login btn-error-page" href="/") Go to dashboard
